<!DOCTYPE html>
<html>
  <head>
    <title>Icon</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="card-container">
      <button class="x-button">x</button>
      <div class="gmailmatch">Gmail</div>
      <!--Ako se gmail podudara samo ga taj korisnik može uklonit svoj oglas-->
      <div class="coachname"><h3>Coach name</h3></div>
      <div class="coachinfo"></div>
      <ul class="ul-0top">
        <li>Gender:</li>
        <li>Age:</li>
        <li>Location:</li>
        <li>Contact info:</li>
        <li>Experience:</li>
      </ul>
    </div>
  </body>
</html>
