<!DOCTYPE html>
<html>
  <head>
    <title>Fit4life</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <header>
      <img src="FinalLogo.png" alt="" />
      <div class="nav-links">
        <a href="index2.html">HOME</a>
        <a href="Links.html">COACH</a>
      </div>
      <a href="Signup.html" class="logout">LOG OUT</a>
    </header>

    <body>
      <div class="columns">
        <div class="text">
          <h1 class="text-title">About us</h1>
          <p>
            Meet Fit4life, the ideal app for beginners ready to start living a
            healthier, more active life. Fit4life can connect you directly with
            certified trainers for support, advice, and coaching as you build
            confidence and reach your goals. This app is simple, supportive, and
            completely beginner-friendly. Your fitness journey starts here.
          </p>
        </div>
        <img src="gym.jpg" alt="Placeholder picture" class="gym" />
      </div>
    </body>

    <footer>
      <h3>Contact us!</h3>
      <p>placeholder@gmail.com</p>
    </footer>
  </body>
</html>
