<!DOCTYPE html>
<html>
  <head>
    <title>Input Info</title>
    <link rel="stylesheet" href="style.css" />

    <style></style>
  </head>

  <body>
    <header>
      <img src="FinalLogo.png" alt="" />
      <div class="nav-links">
        <a href="index2.html">HOME</a>
        <a href="Links.html">COACH</a>
      </div>
      <a href="Signup.html" class="logout">LOG OUT</a>
    </header>

    <body>
      <form action="" class="logsign">
        <div class="input-fields">
          <label for="gender">Gender: </label>
          <input type="text" id="gender" placeholder="Male/Female" />
        </div>
        <div class="input-fields">
          <label for="age">Age: </label>
          <input type="text" id="age" placeholder="24..." />
        </div>
        <div class="input-fields">
          <label for="location">Location: </label>
          <input
            type="text"
            id="location"
            placeholder="Where the trainings happen..."
          />
        </div>
        <div class="input-fields">
          <label for="contact">Contact info: </label>
          <input
            type="text"
            id="contact"
            placeholder="Phone number/mail/discord..."
          />
        </div>
        <div class="input-fields">
          <label for="experience">Experience: </label>
          <input
            type="text"
            id="experience"
            placeholder="Years of experience, certifications..."
          />
        </div>
        <a href="Links.html"
          ><button type="button" class="submit">Submit</button></a
        >
      </form>
    </body>

    <footer>
      <h3>Contact us!</h3>
      <p>placeholder@gmail.com</p>
    </footer>
  </body>
</html>
