<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    <link rel="stylesheet" href="style.css" />
    <style></style>
  </head>

  <body>
    <header>
      <img src="FinalLogo.png" alt="" />
    </header>

    <form action="" class="logsign">
      <div class="singupbackground">
        <h3 class="signup-title"><strong>Signup</strong></h3>
      </div>

      <div class="input-fields">
        <label for="ime"><strong>Userame: </strong> </label>
        <input type="text" id="ime" placeholder="Username..." />
      </div>

      <div class="input-fields">
        <label for="city"><strong>City: </strong> </label>
        <input type="text" id="City" placeholder="City..." />
      </div>

      <div class="input-fields">
        <label for="password1"><strong>Password: </strong></label>
        <input type="password" id="password1" placeholder="Password..." />
      </div>

      <div class="input-fields">
        <label for="password-repeat"><strong>Repeat Password: </strong></label>
        <input type="password" id="password-repeat" placeholder="Password..." />
      </div>

      <button type="button" class="submit"><strong>Submit</strong></button>

      <p class="logintext">
        Already have an account? <a href="Login.html" class="login">Log in</a>
      </p>
      <p class="signup-under">
        Enter as <a href="index2.html" class="login">Guest</a>
      </p>
    </form>

    <footer>
      <h3>Contact us!</h3>
      <p>placeholder@gmail.com</p>
    </footer>
  </body>
</html>
